:root {
  --col-background: #261333;
  --col-text: #f2ecf9;
  --col-primary: #7d3abb;
  --col-secondary: #851a5a;
  --col-accent: #246496;
}

body {
  background-color: var(--col-background);
}

body * {
  font-family: monospace;
}

p{
	color: var(--col-text);
}

header {
  font-size: clamp(4rem, 5dvw, 6rem);
  color: var(--col-text);
  font-weight: bold;
  text-shadow: 0px 0px 100px var(--col-accent);
}

.border {
  border: 2px dotted rgb(96, 139, 168);
}

.rowFlex {
  /* border: 2px dotted rgb(96, 139, 168); */
  display: flex;
  flex-flow: row;
}

.columnFlex {
  /* border: 2px dotted rgb(194, 91, 43); */
  display: flex;
  flex-flow: column;
}

.flexChildren > * {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.centerChildren{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.centerAlign {
  justify-content: center;
  align-items: center;
}

.button,
.bigButton,
.midButton {
  color: var(--col-text);
  background-color: var(--col-primary);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.bigButton {
  padding: 2rem;
}

.midButton {
  padding: 2rem;
  font-size: 2rem;
}

.bigText {
  font-size: 2rem;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pixelated {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

.noDoubleClickZoom{
	touch-action: manipulation;
}

.spinner{
	--size: 2rem;
	content: "";
	max-width: var(--size);
	width: var(--size);
	height: var(--size);
	border: solid white;
	border: solid rgb(from var(--col-text) calc(r * 0.8) calc(g * 0.8) calc(b * 0.8));
	border-right: solid var(--col-text);
	border-radius: var(--size);

	animation: fullRotation 1s infinite linear;
}

@keyframes fullRotation {
	to{
		transform: rotateZ(360deg);
	}
}

.dropdownMultiSelect{
	color: var(--col-text);
	margin-top: 5px;
	border: 0;
	padding: 0;
	touch-action: manipulation;
}

.dropdownMultiSelect > .anchor{
	position: relative;
	color: var(--col-text);
	background-color: var(--col-secondary);
	font-size: 1.5rem;
	border: none;
	padding: 5px 35px 5px 10px;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dropdownMultiSelect > .anchor:hover{
	filter: brightness(85%);
}

.dropdownMultiSelect > .anchor::after {
	position: absolute;
  content: "";
  border-left: 2px solid var(--col-text);
  border-top: 2px solid var(--col-text);
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdownMultiSelect > ul {
  list-style: none;
  padding-left: 0;
	inset: unset;
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 0 0 5px 5px;
	background-color: transparent;
	max-height: calc(4 * (1rem + 10px) + 30px);
}

.dropdownMultiSelect > ul > li {
	min-width: 100%;
}

.dropdownMultiSelect > ul > li > input {
	color: var(--col-text);
	background-color: var(--col-secondary);
	min-width: 100%;
	max-width: 100%;
	font-size: 1rem;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dropdownMultiSelect > ul > li > input:hover {
	filter: brightness(85%);
}

.dropdownMultiSelect > ul > li > input.selected {
	background-color: var(--col-accent);
}

.mapInfoContainer > p{
 font-size: 1rem;
 text-align: center;
}

.rouletteContainer{
	--wheelRadius: 17rem;
	--childRotation: 10deg;
	--borderWidth: 4px;
	width: calc((var(--wheelRadius) - var(--borderWidth)) * 2);
	height: calc((var(--wheelRadius) - var(--borderWidth)) * 2);
	border: var(--col-text) solid var(--borderWidth);
	border-radius: 50%;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	background-image: repeating-conic-gradient(from calc(var(--childRotation) / 2),
		var(--col-primary) 0%,
		var(--col-primary) var(--childRotation),
		var(--col-secondary) var(--childRotation),
		var(--col-secondary) calc(var(--childRotation) * 2),
		var(--col-background) calc(var(--childRotation) * 2),
		var(--col-background) calc(var(--childRotation) * 3));
	animation: fullRotation 20s linear infinite;
}

.rouletteContainer > div{
	--centerRadius: 50px;
	position: absolute;
	background-color: var(--col-primary);
	border: solid 2px;
	width: calc(2 * var(--centerRadius));
	height: calc(2 * var(--centerRadius));
	border-radius: 50%;

	display: flex;
  justify-content: center;
  align-items: center;
	
	transform: 
						translateX(calc(
							 var(--wheelRadius) - var(--borderWidth) - 50%
						))
						translateY(calc(
							 var(--wheelRadius) - var(--borderWidth) - 50%
						));
}

.rouletteContainer > div > *{
  margin: auto;
}

.rouletteContainer > div > img{
	aspect-ratio: 9 / 8;
	width: 90px;
	transform: 
						translateY(calc(
							 7px
						));
}

.rouletteContainer > p{
	background-color: red;
	font-size: 40px;
	width: 0;
	white-space: nowrap;
	margin: 0;
	--nth-child: 0;
	--scale: 0.95;
	position: absolute;
	text-align: start;
	transform:
							translateX(calc(
								sin(var(--childRotation) * var(--nth-child)) * var(--wheelRadius) * var(--scale) + var(--wheelRadius) - var(--borderWidth)
							))
							translateY(calc(
								cos(var(--childRotation) * var(--nth-child)) * var(--wheelRadius) * var(--scale) * -1 + var(--wheelRadius) - var(--borderWidth) - 50%
							))
							rotate(calc(var(--childRotation) * var(--nth-child) + 90deg));
}

/* .rouletteContainer > p::before{
	position: absolute;
	content: "";
	border: white solid;
} */