:root {
  --col-background: #0b050f;
  --col-text: #f2ecf9;
  --col-primary: #7d3abb;
  --col-secondary: #851a5a;
  --col-accent: #246496;
}

body {
  background-color: var(--col-background);
}

body * {
  font-family: monospace;
}

p{
	color: var(--col-text);
}

header {
  font-size: clamp(4rem, 5dvw, 6rem);
  color: var(--col-text);
  font-weight: bold;
  text-shadow: 0px 0px 10px var(--col-accent);
}

.border {
  border: 2px dotted rgb(96, 139, 168);
}

.rowFlex {
  /* border: 2px dotted rgb(96, 139, 168); */
  display: flex;
  flex-flow: row;
}

.columnFlex {
  /* border: 2px dotted rgb(194, 91, 43); */
  display: flex;
  flex-flow: column;
}

.flexChildren > * {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.centerChildren > * {
	max-width: fit-content;
	margin: 0 auto;
}

.centerChildren button{
	display: block;
}

.centerAlign {
  justify-content: center;
  align-items: center;
}

.button,
.bigButton,
.midButton {
  color: var(--col-text);
  background-color: var(--col-primary);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.bigButton {
  padding: 2rem;
}

.midButton {
  padding: 2rem;
  font-size: 2rem;
}

.bigText {
  font-size: 2rem;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdownMultiSelect {
  color: var(--col-text);
}

.dropdownMultiSelect{
	margin-top: 5px;
	border: 0;
	padding: 0;
}

.dropdownMultiSelect > .anchor{
	position: relative;
	color: var(--col-text);
	background-color: var(--col-secondary);
	font-size: 1.5rem;
	border: none;
	padding: 5px 35px 5px 10px;
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dropdownMultiSelect > .anchor:hover{
	filter: brightness(85%);
}

.dropdownMultiSelect > .anchor::after {
	position: absolute;
  content: "";
  border-left: 2px solid var(--col-text);
  border-top: 2px solid var(--col-text);
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdownMultiSelect > ul {
  list-style: none;
  padding-left: 0;
	inset: unset;
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 0 0 5px 5px;
	background-color: transparent;
	max-height: calc(4 * (1rem + 10px) + 30px);
}

.dropdownMultiSelect > ul > li {
	min-width: 100%;
}

.dropdownMultiSelect > ul > li > input {
	color: var(--col-text);
	background-color: var(--col-secondary);
	min-width: 100%;
	max-width: 100%;
	font-size: 1rem;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dropdownMultiSelect > ul > li > input:hover {
	filter: brightness(85%);
}

.dropdownMultiSelect > ul > li > input.selected {
	background-color: var(--col-accent);
}

.mapInfoContainer > p{
 font-size: 1rem;
 text-align: center;
}